[user]
	name = Nick Knowlson
	email = nick@nickknowlson.com
[core]
	autocrlf = false
	safecrlf = false
	editor = mvim --nofork 
        pager = less -R
[alias]
        standup = lg --since yesterday --author Nick Knowlson
        purr = pull --rebase
	st = status -sb
	ci = commit
	br = branch
	co = checkout
	df = diff
	graphviz = "!f() { echo 'digraph git {' ; git log --pretty='format:  %h -> { %p }' \"$@\" | sed 's/[0-9a-f][0-9a-f]*/\"&\"/g' ; echo '}'; }; f"
	lg = log --graph --pretty=format:'%C(yellow)%h%Creset -%Cred%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
        logh = log --decorate --stat --abbrev-commit
        unstage = reset HEAD
	pushlive = !./push-site-live.sh
	l1 = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
        l2 = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
        l3 = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[color]
        ui = auto
[push]
    default = simple
