/*
!.*
.ICEauthority
.aptitude/
.autotest
.autotest.backup
.autotest_images/
.bash_history
.bash_login
.bash_logout
.bogofilter/
.bundler/
.cache/
.config/
.dbus/
.dmrc
.esd_auth
.evolution/
.fontconfig/
.gconf/
.gconfd/
.gem/
.gitconfig
.gksu.lock
.gnome2/
.gstreamer-0.10/
.gtk-bookmarks
.heroku/
.lesshst
.local/
.macromedia/
.mission-control/
.mozilla/
.profile
.pulse-cookie
.pulse/
.recently-used.xbel
.rvm/
.ssh/
.sudo_as_admin_successful
.thumbnails/
.update-notifier/
.vboxclient-clipboard.pid
.vboxclient-display.pid
.vboxclient-seamless.pid
.viminfo
.vimperator/
.xsession-errors
.xsession-errors.old
